@model Genshin_Trade_Center.Models.ManageViewModel
@{
    ViewBag.Title = "Manage";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <div>
        <h4>Hello @Html.DisplayFor(model => model.Nickname)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <div>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Log Off" class="nice-button"/>
            }
        </div>
    </div>
</main>
