<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" media="screen" href="../../Styles/style.css" />
    <link rel="stylesheet" media="screen" href="../../Styles/style_menu_gorne.css" />
    <link rel="stylesheet" media="screen" href="../../Styles/style_table.css" />
    <link rel="stylesheet"
          media="screen"
          href="../../Styles/fonts_and_animations.css" />
    <link rel="stylesheet" media="screen" href="../../Styles/style_side_menu.css" />
    <link rel="shortcut icon" href="../../Images/Icon.jpg" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="description" content="Genshin Website" />
    <meta name="keywords" content="Genshin Impact, Anime, Game" />
    <meta name="author" content="Wiktoria Arendarczyk, Cezary Moskal, Martyna Guzik" />
    <style></style>
</head>
<body style="margin:0%">
    <div class="nav-bar">
        <div class="item_napis">
            <p class="logo_name">Genshin Impact</p>
            <div class="appear">
                <img class="logo_icon" src="../../Images/Icon.jpg" alt="Icon" />
            </div>
        </div>
        <nav class="item_button">
            <a id="ToHome" class="menu_link" href="@Url.Action("Index", "Home", new { area = "" })">Home</a>
            <a href="@Url.Action("Index", "Home", new { area = "" })">
                <img class="menu_icon"
                     src="../../Images/home.png"
                     alt="Upper menu home" />
            </a>
            <a id="ToCharacter" class="menu_link" href="@Url.Action("Index", "Characters", new { area = "" })">Characters</a>
            <a href="@Url.Action("Index", "Characters", new { area = "" })">
                <img class="menu_icon"
                     src="../../Images/characters.png"
                     alt="Upper menu character icon" />
            </a>
            <a id="ToItem" class="menu_link" href="@Url.Action("Index", "Items", new { area = "" })">Items</a>
            <a href="@Url.Action("Index", "Items", new { area = "" })">
                <img class="menu_icon"
                     src="../../Images/item.png"
                     alt="Upper menu item link" />
            </a>
            <a id="ToWeapons" class="menu_link" href="@Url.Action("Index", "Characters", new { area = "" })">Weapons</a>
            <a href="@Url.Action("Index", "Characters", new { area = "" })">
                <img class="menu_icon"
                     src="../../Images/weapon.png"
                     alt="Upper menu weapon link" />
            </a>
            <a id="ToArchetype" class="menu_link" href="@Url.Action("Index", "CharacterArchetypes", new { area = "" })">Character Archetypes</a>
            <a href="@Url.Action("Index", "CharacterArchetypes", new { area = "" })">
                <img class="menu_icon"
                     src="../../Images/user.png"
                     alt="Upper menu archetype link" />
            </a>
            <a id="ToResource" class="menu_link" href="@Url.Action("Index", "Resources", new { area = "" })">Resources</a>
            <a href="@Url.Action("Index", "Resources", new { area = "" })">
                <img class="menu_icon"
                     src="../../Images/resource.png"
                     alt="Upper menu resource link" />
            </a>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>Wiktoria Arendarczyk, Cezary Moskal, Martyna Guzik 2023 ©</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
