@model Genshin_Trade_Center.Models.Resource

@{
    ViewBag.Title = "Details";
}


<div class="container-main">
    <hr />
    <div class="container-body">
        <div>
            <h2 id="title">Details of Weapon</h2>
            <div class="table-container">
                <table class="fl-table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Price)
                        </td>

                    </tr>
                </table>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
    <hr />
</div>
