@model IEnumerable<Genshin_Trade_Center.Models.Resource>

@{
    ViewBag.Title = "Resources";
}

<div class="container-main">
    <hr />
    <div class="container-body">
        <div class="table-container">
            <table class="fl-table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sellers.Count)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sellers.Count)
                        </td>
                        <td>
                            @if (!item.Sellers.Any(i => i.Id == ViewBag.Id))
                            {
                                using (Html.BeginForm("Sell", "Resources", new { id = item.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Sell" class="btn btn-default nice-button" style="display: inline-block;" />
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("SellStop", "Resources", new { id = item.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Stop Selling" class="btn btn-default nice-button" style="display: inline-block;" />
                                        </div>
                                    </div>
                                }
                            }
                            @if (item.Sellers.Any(i => i.Id != ViewBag.Id))
                            {
                                using (Html.BeginForm("Buy", "Resources", new { id = item.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Buy" class="btn btn-default nice-button" style="display: inline-block;" />
                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <hr />
</div>
