@model IEnumerable<Genshin_Trade_Center.Models.Resource>
@{
    ViewBag.Title = "Resources";
}

<div class="container-main">
    <hr />
    <div class="container-body">
        <div class="table-container">
            <table class="fl-table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sellers.Count)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sellers.Count)
                        </td>
                        <td>
                            @if (!item.Sellers.Any(i => i.Id == ViewBag.Id))
                            {
                                using (Html.BeginForm("Sell", "Resources", new { id = item.Id }, FormMethod.Post, new { style = "display:inline;width:40%" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Sell" class="nice-button" />
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("SellStop", "Resources", new { id = item.Id }, FormMethod.Post, new { style = "display:inline;width:40%" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Stop Selling" class="nice-button" />
                                }
                            }
                            @if (item.Sellers.Any(i => i.Id != ViewBag.Id))
                            {
                                using (Html.BeginForm("Buy", "Resources", new { id = item.Id }, FormMethod.Post, new { style = "display:inline;width:40%" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Buy" class="nice-button" />
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <hr />
</div>
