@model Genshin_Trade_Center.Models.Character

@{
    ViewBag.Title = "Characters";
}

<div class="container-main">
    <hr />
    <div class="container-body">
        <h2 id="title">Are you sure you want to buy this?</h2>
        <div>
            <h4>Character</h4>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller.UserName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Seller.UserName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Price)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Level)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Level)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Friendship)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Friendship)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Constellation)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Constellation)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Archetype.Name)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Archetype.Name)
                    </td>
                </tr>
            </table>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Buy" class="btn btn-default nice-button" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
    <hr />
</div>


