@model Genshin_Trade_Center.Models.Character

@{
    ViewBag.Title = "Characters";
}

<div class="container-main">
    <hr />
    <div class="container-body">
        <h2 id="title">Are you sure you want to buy this?</h2>
        <div>
            <h4>Character</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Seller.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Seller.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Level)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Level)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Friendship)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Friendship)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Constellation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Constellation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Archetype.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Archetype.Name)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Buy" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
    <hr />
</div>


