@model Genshin_Trade_Center.Models.Character
@{
    ViewBag.Title = "Characters";
}

<div class="container-main">
    <hr />
    <div class="container-body">
        <h2 id="title">Create Character</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.LabelFor(model => model.Name)
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.Price)
                    <div>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.Level)
                    <div>
                        @Html.EditorFor(model => model.Level, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.Friendship)
                    <div>
                        @Html.EditorFor(model => model.Friendship, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Friendship, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.ArchetypeId, "Character")
                    <div>
                        @Html.DropDownList("ArchetypeId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ArchetypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.Constellation)
                    <div>
                        @Html.EditorFor(model => model.Constellation, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Constellation, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <div>
                        <input type="submit" value="Create" class="nice-button" />
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <hr />
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
