@model IEnumerable<Genshin_Trade_Center.Models.Character>
@{
    ViewBag.Title = "Characters";
}

<div class="container-main">
    <hr />
    <div class="container-body">
        <p>
            @Html.ActionLink("My Store", "MyStore")
        </p>
        <div class="table-container">
            <table class="fl-table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Level)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Archetype.Name)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seller.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>  
                        <td>
                            @Html.DisplayFor(modelItem => item.Archetype.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "DetailsClient", new { id = item.Id }) |
                            @Html.ActionLink("Buy", "Buy", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <hr />
</div>
