@model Genshin_Trade_Center.Models.Item
@{
    ViewBag.Title = "Items";
}

<div class="container-main">
    <hr />
    <div class="container-body">
        <h2 id="title">Item Details</h2>
        <div class="table-container">
            <table class="fl-table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller.UserName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Seller.UserName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Price)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Level)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Level)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Refinement)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Refinement)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type.Name)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Type.Name)
                    </td>
                </tr>
            </table>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <hr />
</div>
