@model IEnumerable<Genshin_Trade_Center.Models.Item>

@{
    ViewBag.Title = "MyStore";
}

<div class="container-main">
    <hr />
    <div class="container-body">
        <div class="flexbox">
            <div class="item">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>
            <div class="item">
                @Html.ActionLink("Back To Offers", "Index")
            </div>
        </div>
        <div class="table-container">
            <table class="fl-table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Level)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "DetailsSeller", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <hr />
</div>